<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>상세 페이지</h2>
	<div>
		<!-- 수의사 목록 -->
		<div class="vet-card">
			<div class="profile-img">
				<img th:src="@{/images/{img}(img=${vet.username + '.jpg'})}" alt="수의사 프로필">
			</div>
			<div class="vet-info">
				<!-- 수의사 이름 -->
				<span th:text="${vet.user.p_name}">수의사 이름</span><b> 수의사</b><br>
	
				<!-- 전공-->
				<span th:text="${vet.v_major}">전공</span>
			</div>
			
		</div>
	</div>
</body>
</html>