<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>멍냥온콜</title>
<style>
.container {
	width: 600px;
    margin: 0 auto;
}
.vet-card {
	border: 2px solid orange;
	border-radius: 15px;
	padding: 20px;
	margin-top: 20px;
	display: flex;
	align-items: center;
}

</style>
</head>
<body>
	<div class="container">
		<!-- header -->
		<div th:replace="header :: mainHeader"></div>
		<!-- body -->
		<div class="vet-card">
			<a href="" onclick="userManagement()">회원정보관리</a> |
			<a href="" onclick="animalManagement()">반려동물관리</a>
			
		</div>
		<div id="content"></div>
	</div>
	<script>
		const content = document.getElementById("content");
		
		function userMamagement(){
			fetch('')
			.then(response => response.json())
			.then(data => {
				
			})
			.catch(err =>{
				alert(err);
			});
		}
		
		function animalManagement(){
			fetch('')
			.then(response => response.json())
			.then(data)
			.catch(err =>{
				alert(err);
			});
		}
	</script>
</body>
</html>