<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.container {
    width: 600px;
    margin: 0 auto;
}
	
</style>
</head>
<body>
	<div class="container">
		<h2>회원가입</h2>
		<form action="/user/regist" method="POST">
			<input type="text" name="username" placeholder="username"><br>
			<input type="text" name="password" placeholder="password"><br>
			<input type="text" name="p_name" placeholder="name"><br>
			<input type="text" name="p_phone" placeholder="phone"><br>
			<input type="text" name="p_email" placeholder="email"><br>
			<input type="hidden" name="p_role" value="user">
	
			<input type="submit" value="제출">	
				
		</form>
	</div>	
</body>
</html>